<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Castle</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/reality-icon.css">
<link rel="stylesheet" type="text/css" href="css/bootsnav.css">
<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="css/owl.transitions.css">
<link rel="stylesheet" type="text/css" href="css/cubeportfolio.min.css">
<link rel="stylesheet" type="text/css" href="css/settings.css">
<link rel="stylesheet" type="text/css" href="css/range-Slider.min.css">
<link rel="stylesheet" type="text/css" href="css/search.css">
<link rel="stylesheet" type="text/css" href="css/editor.css">
<link rel="stylesheet" type="text/css" href="css/dropzone.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="icon" href="images/icon.png">
</head>
<body>


<!--Loader-->
<div class="loader">
  <div class="span">
    <div class="location_indicator"></div>
  </div>
</div>
 <!--Loader-->               
     

<header class="layout_double">
  <div class="topbar dark">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p>We are Best in Town With 40 years of Experience.</p>
        </div>
        <div class="col-md-7 text-right">
          <ul class="breadcrumb_top text-right">
             <li><a href="favorite_properties.html"><i class="icon-icons43"></i>Favorites</a></li>
      <li><a href="submit_property.html"><i class="icon-icons215"></i>Submit Property</a></li>
      <li><a href="my_properties.html"><i class="icon-icons215"></i>My Property</a></li>
      <li><a href="profile.html"><i class="icon-icons230"></i>Profile</a></li>
      <li><a href="login.html"><i class="icon-icons179"></i>Login / Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-upper dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="logo">
          <a href="index8.html"><img alt="" src="images/logo-white.png" class="img-responsive"></a>
          </div>
        </div>
      <!--Info Box-->
        <div class="col-md-9 col-sm-12 right">
          <div class="info-box first">
            <div class="icons"><i class="icon-telephone114"></i></div>
            <ul>
              <li><strong>Phone Number</strong></li>
              <li>+1 900 234 567 - 68</li>
            </ul>
          </div>
          <div class="info-box">
          <div class="icons"><i class="icon-icons74"></i></div>
          <ul>
            <li><strong>Manhattan Hall,</strong></li>
            <li>Castle Melbourne, australia</li>
          </ul>
        </div>
          <div class="info-box">
            <div class="icons"><i class="icon-icons142"></i></div>
            <ul>
              <li><strong>Email Address</strong></li>
              <li><a href="#.">info@castle.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
  <nav class="navbar navbar-default navbar-sticky bootsnav">
    <div class="container">
          <div class="attr-nav">
            <ul class="social_share clearfix">
            <li><a href="#." class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#." class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a class="google" href="#."><i class="icon-google4"></i></a></li>
            </ul>
          </div> 
            
        <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand sticky_logo" href="index8.html"><img src="images/logo.png" class="logo" alt=""></a>
        </div><!-- End Header Navigation -->
          <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
              <li class="dropdown active">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Home </a>
                <ul class="dropdown-menu">
                  <li><a href="index.html">Home Style 1</a></li>
                  <li><a href="index2.html">Home Style 2</a></li>
                  <li><a href="index3.html">Home Style 3</a></li>
                  <li><a href="index4.html">Home Style 4</a></li>
                  <li> <a href="index5.html">Home Style 5</a></li>
                  <li> <a href="index6.html">Home Style 6</a></li>
                  <li> <a href="index7.html">Home Style 7</a></li>
                  <li> <a href="index8.html">Home Style 8</a></li>
                  <li> <a href="index9.html">Home Style 9</a></li>
                  <li> <a href="fullscreen.html">Home Fullscreen<span>new</span></a></li>
                </ul>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listing</a>
                <ul class="dropdown-menu megamenu-content" role="menu">
                  <li>
                    <div class="row">
                      <div class="col-menu col-md-3">
                        <h5 class="title">PROPERTIES LIST</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="listing1.html">Properties List</a></li>
                            <li><a href="index7.html">Single Property</a></li>
                            <li><a href="listing2.html">Search by City</a></li>
                            <li><a href="listing5.html">Search by Category</a></li>
                            <li><a href="listing3.html">Search by Type</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-9">
                        <h5 class="title bottom20">PROPERTIES LIST</h5>
                        <div class="row">
                          <div id="nav_slider" class="owl-carousel">
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider1.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="property_detail1.html">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider2.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="property_detail2.html">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider3.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="property_detail3.html">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider1.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="property_detail1.html">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider2.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="property_detail2.html">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider3.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="property_detail3.html">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Properties</a>
                <ul class="dropdown-menu megamenu-content bg" role="menu">
                  <li>
                    <div class="row">
                      <div class="col-menu col-md-3">
                        <h5 class="title">PROPERTY LISTINGS</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="listing1.html">List Style 1</a></li>
                            <li><a href="listing2.html">List Style 2</a></li>
                            <li><a href="listing3.html">List Style 3</a></li>
                            <li><a href="listing4.html">List Style 4</a></li>
                            <li><a href="listing5.html">List Style 5</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-3">
                        <h5 class="title">PROPERTY LISTINGS</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="listing6.html">List Style 5</a></li>
                            <li><a href="listing7.html">List Style 6</a></li>
                            <li><a href="listing1.html">Search by City</a></li>
                            <li><a href="listing2.html">Search by Category</a></li>
                            <li><a href="listing3.html">Search by Type</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-3">
                        <h5 class="title">PROPERTY DETAIL</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="property_detail1.html">Property Detail 1</a></li>
                            <li><a href="property_detail2.html">Property Detail 2</a></li>
                            <li><a href="property_detail3.html">Property Detail 3</a></li>
                            <li><a href="index7.html">Single Property</a></li>
                            <li><a href="listing4.html">Search by Type</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-3">
                        <h5 class="title">OTHER PAGES</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="favorite_properties.html">Favorite Properties</a></li>
                            <li><a href="agent_profile.html">Agent Profile</a></li>
                            <li><a href="404.html">404 Error</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="testimonial.html">Testimonials</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Features </a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a href="#." class="dropdown-toggle" data-toggle="dropdown">News</a>
                    <ul class="dropdown-menu">
                      <li><a href="news.html">news Style1</a></li>
                      <li><a href="news2.html">news Style2</a></li>
                      <li><a href="news3.html">news Style3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#." class="dropdown-toggle" data-toggle="dropdown">Property Agents</a>
                    <ul class="dropdown-menu">
                      <li><a href="agent1.html">Agent Style1</a></li>
                      <li><a href="agent2.html">Agent Style2</a></li>
                      <li><a href="agent3.html">Agent Style3</a></li>
                      <li><a href="agent4.htm4">Agent Style4</a></li>
                      <li><a href="agent5.htm5">Agent Style5</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#." class="dropdown-toggle" data-toggle="dropdown">Agetn Profile Styles</a>
                    <ul class="dropdown-menu">
                      <li><a href="agent_profile.html">Agent Profile 1</a></li>
                      <li><a href="agent_profile2.html">Agent Profile 2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                  <a href="#." class="dropdown-toggle" data-toggle="dropdown">Testimonials</a>
                  <ul class="dropdown-menu">
                      <li><a href="testimonial.html">Style 1</a></li>
                      <li><a href="testimonial2.html">Style 2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                  <a href="#." class="dropdown-toggle" data-toggle="dropdown">FAQ's</a>
                  <ul class="dropdown-menu">
                      <li><a href="faq.html">Style 1</a></li>
                      <li><a href="faq2.html">Style 2</a></li>
                    </ul>
                  </li>
                  <li><a href="favorite_properties.html">Favorite Properties</a></li>
                  <li class="dropdown">
                  <a href="#." class="dropdown-toggle" data-toggle="dropdown">404 Error</a>
                  <ul class="dropdown-menu">
                      <li><a href="404.html">404 Error 1</a></li>
                      <li><a href="404-2.html">404 Error 2</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="https://themeforest.net/item/castle-real-estate-template/18593260?ref=BrighThemes">Buy Now</a></li>
            </ul>
        </div>
        </div>
  </nav>
</header>
                

<!-- Page Banner Start-->
<section class="page-banner padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">Favorite properties</h1>
        <p>Serving you since 1999. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <ol class="breadcrumb text-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li class="active">My properties</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner End -->



<!-- My Properties  -->
<section id="property" class="padding listing1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="f-p-links margin_bottom">
          <li><a href="profile.html"><i class="icon-icons230"></i>Profile</a></li>
          <li><a href="my_properties.html"><i class="icon-icons215"></i> My Properties</a></li>
          <li><a href="submit_property.html" class="active"><i class="icon-icons215"></i> Submit Property</a></li>
          <li><a href="favorite_properties.html"><i class="icon-icons43"></i> Favorite Properties</a></li>
          <li><a href="login.html"><i class="icon-lock-open3"></i>Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-1 col-md-2"></div>
      <div class="col-sm-10 col-md-8">
      <h2 class="text-uppercase bottom40">Add Your Property</h2>
      <form class="callus clearfix border_radius submit_property">
      <div class="row">
      <div class="col-sm-6">
      
      <div class="single-query form-group bottom20">
      <label>Title</label>
              <input type="text" class="keyword-input" placeholder="Enter your property title">
            </div>
      </div>
       <div class="col-sm-6">
      <div class="single-query form-group bottom20">
              <label>Location</label>
              <input type="text" class="keyword-input" placeholder="Enter Proprty Location">
            </div>
      </div>
      <div class="col-sm-6">
      <div class="single-query bottom20">
              <label>Status </label>
              <div class="intro">
                <select>
                  <option class="active">For Sale</option>
                  <option>For Sale</option>
                  <option>For Sale </option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
      </div>
      <div class="col-sm-6">
      <div class="single-query form-group bottom20">
      <label>Price</label>
              <input type="text" class="keyword-input" placeholder="23,000">
            </div>
      </div>
      </div>
      </form>
      <div class="row">
      <div class="col-sm-12">
        <h3 class="margin40 bottom15">Propertie Photos <i class="fa fa-info-circle help" data-toggle="tooltip" title="add images to upload for property!"></i></h3>
       


        <div class="file_uploader bottom20">
        <form id="upload-widget" method="post" action="/upload" class="dropzone">
        <div class="dz-default dz-message">
<span>
<i class="fa fa-plus-circle"></i>
Click here or drop files to upload
</span>
</div>
        </form>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-12">
        <h3 class="bottom15 margin40">Propertie Detail</h3>
      </div>
      </div>
      <form class="callus clearfix border_radius submit_property">
      <div class="row">
      
<div class="col-sm-4">
              
              <div class="single-query form-group bottom20">
              <label>Size Prefix</label>
              <div class="intro">
                <select>
                  <option class="active">Sq Ft</option>
                  <option>For Sale</option>
                  <option>For Sale </option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
            
      </div>
      <div class="col-sm-4">
              
              <div class="single-query form-group bottom20">
              <label>Bedrooms</label>
              <div class="intro">
                <select>
                  <option class="active">Number of Bedrooms</option>
                  <option>For Sale</option>
                  <option>For Sale </option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
            
      </div>
      <div class="col-sm-4">
              
              <div class="single-query  form-group bottom20">
              <label>Bathrooms</label>
              <div class="intro">
                <select>
                  <option class="active">Number of bathrooms</option>
                  <option>For Sale</option>
                  <option>For Sale </option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
            
      </div>
      
            
<div class="col-sm-4">
              
              <div class="single-query form-group bottom20">
              <label>TV Lounge</label>
              <div class="intro">
                <select>
                  <option class="active">Number of TV Lounge</option>
                  <option>For Sale</option>
                  <option>For Sale </option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
            
      </div>
      <div class="col-sm-4">
              
              <div class="single-query form-group  bottom20">
              <label>Garages</label>
              <div class="intro">
                <select>
                  <option class="active">Number of Garages</option>
                  <option>For Sale</option>
                  <option>For Sale </option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
            
      </div>
      <div class="col-sm-4">
              
              <div class="single-query form-group bottom20">
              <label>Swimming Pool</label>
              <div class="intro">
                <select>
                  <option class="active">Number of Pool</option>
                  <option>For Sale</option>
                  <option>For Sale </option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
            
      </div>     
      <div class="col-sm-12">
        <h3 class="bottom15 margin40">Propertie Description </h3>
        <textarea id="txtEditor"></textarea> 
      </div>
      <div class="col-sm-12">
        <h3 class="bottom15 margin40">Quick Summary</h3>
        <div class="table-responsive summery_table">
          <table class="table">
            <tr>
            <td>
            <i class="fa fa-bars titles"></i>
            </td>
            <td>
            <div class="single-query form-group">
      <label>Title</label>
              <input type="text" class="keyword-input">
            </div>
            </td>
            <td>
            <div class="single-query form-group">
      <label>Value</label>
              <input type="text" class="keyword-input">
            </div>
            </td>
            <td>
            <a href="#." class="close-t"><i class="fa fa-close"></i></a>
            </td>
            </tr>
            <tr>
            <td>
            <i class="fa fa-bars titles"></i>
            </td>
            <td>
            <div class="single-query form-group">
      <label>Title</label>
              <input type="text" class="keyword-input">
            </div>
            </td>
            <td>
            <div class="single-query form-group">
      <label>Value</label>
              <input type="text" class="keyword-input">
            </div>
            </td>
            <td>
            <a href="#." class="close-t"><i class="fa fa-close"></i></a>
            </td>
            </tr>
            <tr>
            <td>
            <i class="fa fa-bars titles"></i>
            </td>
            <td>
            <div class="single-query form-group">
      <label>Title</label>
              <input type="text" class="keyword-input">
            </div>
            </td>
            <td>
            <div class="single-query form-group">
      <label>Value</label>
              <input type="text" class="keyword-input">
            </div>
            </td>
            <td>
            <a href="#." class="close-t"><i class="fa fa-close"></i></a>
            </td>
            </tr>
            
          </table>
          <a href="#."  class="add-new"><i class="fa fa-plus"></i> Add New</a>
      </div>
      </div>
      <div class="col-sm-12">
        <h3 class="bottom15 margin40">Property Features</h3>
        <div class="search-propertie-filters">
      <div class="container-2">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Air Conditioning</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Balcony</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Gas Heat</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Fire Place</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Washer and Dryer</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Swimming Pool</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Laundry Room</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Home Theater</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Smoking allowed</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Cable TV</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="search-form-group white">
              <input type="checkbox" name="check-box" />
              <span>Window Coverings</span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
      </div>
      
      <div class="col-sm-12">
        <h3 class="bottom15 margin40">Video Presentation</h3>
        <div class="single-query form-group bottom15">
      <label>Vimeo or Youtube URL</label>
              <input type="text" class="keyword-input" placeholder="https://vimeo.com">
            </div>
      </div>
      <div class="col-sm-12">
        <h3 class="bottom15 margin40">Place on Map</h3>
        <div class="single-query form-group bottom15">
      <label>Property Address</label>
              <input type="text" class="keyword-input" placeholder="Enter a Location">
            </div>
            <div id="single_map"></div>
      </div>
      <div class="col-md-4">
      <button type="submit" class="btn-blue border_radius margin40">submit property</button>
      </div>
      
      </div>
            
            
            
            
            
            
            
            
          </form>
          
          
      </div>
      <div class="col-sm-1 col-md-2"></div>
      
      
      
      <div class="col-sm-4">
      
     
   
      
      
      </div>
      
    </div>
    
  </div>
</section>
<!-- My Properties End -->




<!--Footer-->
<footer class="footer_third">
  <div class="container contacts">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="info-box first">
          <div class="icons"><i class="icon-telephone114"></i></div>
          <ul class="text-center">
            <li><strong>Phone Number</strong></li>
            <li>+1 900 234 567 - 68</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="info-box">
          <div class="icons"><i class="icon-icons74"></i></div>
          <ul class="text-center">
            <li><strong>Manhattan Hall,</strong></li>
            <li>Castle Melbourne, australia</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="info-box">
          <div class="icons"><i class="icon-icons142"></i></div>
          <ul class="text-center">
            <li><strong>Email Address</strong></li>
            <li><a href="#.">info@castle.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container padding_top">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer_panel bottom30">
          <a href="#." class="logo bottom30"><img src="images/logo-white.png" alt="logo"></a>
          <p class="bottom15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
            tempor cum consectetuer 
            adipiscing.
          </p>
          <p class="bottom15">If you are interested in castle do not wait and <a href="#.">BUY IT NOW!</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer_panel bottom30">
          <h4 class="bottom30 heading">Search by Area</h4>
          <table style="width:100%;">
            <tbody>
              <tr>
                <td>
                  <ul class="links">
                    <li><a href="#."><i></i>About</a></li>
                    <li class="active"><a href="#."><i></i>News</a></li>
                    <li><a href="#."> <i></i>Contacts</a></li>
                    <li><a href="#."><i></i>Testimonials</a></li>
                    <li><a href="#."><i></i>Typography</a></li>
                  </ul>
                </td>
                <td class="text-right">
                  <ul class="links text-left">
                    <li><a href="#."><i></i>Services</a></li>
                    <li class="active"><a href="#."><i></i>Careers</a></li>
                    <li><a href="#."><i></i>Our team</a></li>
                    <li><a href="#."><i></i>Shop</a></li>
                    <li><a href="#."><i></i>Our approach</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer_panel bottom30">
          <h4 class="bottom30 heading">Latest News</h4>
          <div class="media bottom30">
            <div class="media-body">
              <a href="#.">Nearest mall in high tech Goes google map your villa</a>
              <span><i class="icon-clock5"></i>Feb 22, 2017</span>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <a href="#.">Nearest mall in high tech Goes google map your villa</a>
              <span><i class="icon-clock5"></i>Feb 22, 2017</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer_panel bottom30">
          <h4 class="bottom30 heading">Subscribe</h4>
          <p>Sign up with your email to get latest updates and offers</p>
          <form class="top30">
            <input class="search" placeholder="Enter your Email" type="search">
            <a class="button_s" href="#">
            <i class="icon-mail-envelope-open"></i>
            </a>
          </form>
        </div>
      </div>
    </div>
    <!--CopyRight-->
    <div class="copyright_simple">
      <div class="row">
        <div class="col-md-6 col-sm-5 top20 bottom20">
          <p>Copyright &copy; 2017 <span>Castle</span>. All rights reserved.</p>
        </div>
        <div class="col-md-6 col-sm-7 text-right top15 bottom10">
          <ul class="social_share">
            <li><a href="#." class="facebook"><i class="icon-facebook-1"></i></a></li>
            <li><a href="#." class="twitter"><i class="icon-twitter-1"></i></a></li>
            <li><a href="#." class="google"><i class="icon-google4"></i></a></li>
            <li><a href="#." class="linkden"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#." class="vimo"><i class="icon-vimeo3"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" language="javascript">
function myMap() {
  var mapCanvas = document.getElementById("single_map");
  var myCenter = new google.maps.LatLng(51.508742,-0.120850); 
  var mapOptions = {center: myCenter, zoom: 5};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
	animation:google.maps.Animation.BOUNCE,
    icon: "images/map_marker.png"
  });
  marker.setMap(map);
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script> 

<script src="js/jquery-2.1.4.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.appear.js"></script>
<script src="js/jquery-countTo.js"></script>
<script src="js/bootsnav.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/editor.js"></script>
<script src="js/jquery.cubeportfolio.min.js"></script>
<script src="js/range-Slider.min.js"></script>
<script src="js/owl.carousel.min.js"></script> 
<script src="js/selectbox-0.2.min.js"></script>
<script src="js/zelect.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/dropzone.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/revolution.extension.actions.min.js"></script>
<script src="js/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution.extension.navigation.min.js"></script>
<script src="js/revolution.extension.parallax.min.js"></script>
<script src="js/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution.extension.video.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/functions.js"></script>
<script type="text/javascript">
   $("#txtEditor").Editor();
   $('[data-toggle="tooltip"]').tooltip(); 
</script>
</body>
</html>

